@use './scss/mixin' as *;

img {
    width: 100%;
    display: block;
}

li {
    list-style: none;
}

ul {
    padding: 0px !important;
}

.titleCategories {
    cursor: pointer;
}

a {
    color: #000;
    text-decoration: none !important;
}

.slick-prev, .slick-next {
    &::before {
        color: gray;
        font-size: 24px;
    }
}

.main_wrap {
    background-color: #f8f8f8;
    .header {
        a, span {
            color: #000 !important;
            font-size: 13px;
            text-decoration: none;
        }
    }
}

.containerCustom {
    width: 80%;
    margin: 0 auto;
    @include table {
        width: 90%;
    }
}

.porsitonRelative {
    position: relative;
}
