@use './scss/mixin' as *;

.mainProduct {
    position: relative;
    .iconSidebar {
        cursor: pointer;
    }
    .productContent {
        @media only screen and (max-width: 575.98px) {
            .categorySibar {
                display: block !important;
                position: absolute;
                top: 20px;
                left: 0;
                transform: translateX(-110%);
                width: 50%;
                z-index: 2;
                transition: all 1s;
            }
            .translateSibar {
                transform: translateX(-10%);
            }
        }
        .category {
            border: 1px solid #eee;
            border-radius: 3px;
            background-color: #fff;
            max-height: 800px;
            ul {
                li {
                    span {
                        font-weight: 700;
                        border-bottom: 1px solid #eee;
                        font-size: 18px;
                        padding-bottom: 15px;
                        display: inline-block;
                    }
                    span:nth-of-type(2) {
                        float: right;
                    }
                    .categoryList {
                        padding-right: 10px;
                        margin-bottom: 6px;
                        label {
                            font-size: 14px;
                            padding-left: 15px;
                        }
                        strong {
                            font-size: 14px;
                            color: #000;
                            font-weight: 400;
                            float: right;
                        }
                    }
                    @include table {
                        span {
                            font-size: 80%;
                        }
                        .categoryList {
                            label, strong {
                                font-size: 80%;
                            }
                        }
                    }
        
                    @include mobile {
                        span {
                            font-size: 60%;
                        }
                        .categoryList {
                            label, strong {
                                font-size: 60%;
                            }
                        }
                    }
                }
            }
        }
        .products {
            .titleCategory {
                h2 {
                    font-size: 24px;
                }
                .sort {
                    span {
                        margin-right: 16px;
                    }
                    select {
                        border: 1px solid #ccc;
                        background-color:rgb(232, 232, 241);
                        &:focus {
                            outline: none;
                        }
                        @include mobile {
                            option {
                                font-size: 60%;
                            }
                        }
                    }
                }
                @include table {
                    h2 {
                        font-size: 80%;
                    }
                    .sort {
                        font-size: 80%;
                    }
                }
            }
        }
    
    }
}

.productInvolve {
    text-align: center;
    margin-bottom: 40px;
    span {
        font-size: 20px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            display: block;
            width:50%;
            bottom: -20%;
            left: 0;
            transform: translateX(50%);
            height: 2px;
            background-color :#000;
        }
    }
}

.productImage {
    overflow: hidden;
    &:hover {
        img {
            transform: translate(0, -5%);
        }
    }
    .image {
        position: relative;
        .icon {
            position: absolute;
            top: 2%;
            right: 5%;
            .overlay {
                position: relative;
                &:hover span{
                    display: inline-block;
                }
                button {
                    border: none;
                    &:focus {
                        border: none;
                        outline: none;
                    }
                    img {
                        width:20px;
                        height: 20px;
                    }
                }
                span {
                    position: absolute;
                    top: -5px;
                    left: 0;
                    transform: translateX(-100%);
                    white-space: nowrap;
                    font-size: 14px;
                    padding: 2px 6px;
                    display: none;
                }
            }
        }
    }
    .productText {
        p {
            font-size: 14px;
            color: #000000;
            margin: 6px 0 0;
        }
        p:last-child {
            color: #e70303;
            font-size: 16px;
            margin-bottom: 4px;
        }
    }
    
    @include table {
        .productText {
            p {
                font-size: 80%;
            }
        }
    }
    @include mobile {
        .productText {
            p {
                font-size: 60% !important;
            }
        }
        .cart {
            button {
                font-size: 80%;
            }
        }
    }
}

.ProductDetail {
    margin-bottom: 60px;
    .content {
        max-height: 350px;
        overflow: hidden;
        .image {
            position: relative;
            .icon {
                position: absolute;
                top: 2%;
                right: 5%;
                .overlay {
                    position: relative;
                    &:hover span{
                        display: inline-block;
                    }
                    button {
                        border: none;
                        img, i {
                            width:20px;
                            height: 20px;
                        }
                    }
                    span {
                        position: absolute;
                        top: -5px;
                        left: 0;
                        transform: translateX(-100%);
                        white-space: nowrap;
                        font-size: 14px;
                        padding: 2px 6px;
                        display: none;
                    }
                }
            }
        }
        .buying {
            .text {
                h5 {
                    font-size:24px;
                }
                h4 {
                    font-size: 14px;
                    span {
                        font-weight: 400;
                    }
                }
                h2 {
                    color: #ff0000;
                    font-weight: 400;
                }
                h3 {
                    display: flex;
                    align-items: center;
                    span {
                        font-weight: 400;
                        font-size: 16px;
                        margin-right: 16px;
                    }
                    button,strong {
                        border: 1px solid #e1e1e1;
                        width: 40px;
                        height: 40px;
                        display: inline-block;
                        background-color: #fff;
                        &:focus {
                            box-shadow: none;
                        }
                    }
                    strong {
                        text-align: center;
                        line-height: 40px;
                        font-weight: 400;
                        font-size: 18px;
                    }
                }
            }
            .cart {
                button {
                    border: 1px solid #000;
                    font-size: 20px;
                    display: inline-block;
                    width: 250px;
                }
            }
            @include table {
                .text {
                    h2,h3,h4,h5,p {
                        font-size: 80%;
                        span, strong {
                            font-size: 92%;
                        }
                    }
                }
                .cart {
                    button {
                        width: 45%;
                        font-size: 80%;
                    }
                }
            }

            @include mobile {
                .cart {
                    button {
                        width: 45%;
                        font-size: 60%;
                    }
                }
            }
        }
    }
    .feedback {
        margin: 72px 0;
        font-size: 14px;
        button {
            width: 150px;
            background-color: rgb(232, 232, 241);
            border: 1px solid #e1e1e1;
            padding: 6px 0;
        }
        @include mobile {
            button {
                font-size: 80%;
                width: 30%;
            }
        }
    }
    .text {
        h2 {
            font-size: 16px;
        }
        ul {
            margin-left: 16px;
            li {
                list-style: disc;
            }
        }
        .Comment {
            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                    font-weight: bold;
                }
                select {
                    background-color: rgb(232, 232, 241);
                    &:focus {
                        outline: none;
                    }
                    @include mobile {
                        option {
                            font-size: 60%;
                        }
                    }
                }
            }
            .CommentInput {
                margin-top: 40px;
                display: flex;
                align-items: center;
                img {
                    width: 100%;
                    height: 50px;
                }
                textarea {
                    display: block;
                    height: 50px;
                    width: 100%;
                    border: 1px solid #000;
                }
                button {
                    height: 50px;
                }
            }
            .Reviews {
                li {
                    list-style: none;
                    margin-bottom: 6px;
                }
                .review {
                    .reviewsImage {
                        img {
                            width: 30px;
                            height: 30px;
                        }
                    }
                    .commentList {
                        border-radius: 10px;
                        background-color: #3A3B3C;
                        color: #fff;
                        margin-left: 5px;
                        min-width: 200px;
                        max-width: 400px;
                        padding: 6px 10px;
                        h2 {
                            margin-bottom: 0;
                            font-size: 14px;
                            margin-bottom: 6px;
                            font-weight: bold;
                        }
                        p {
                            margin-bottom: 0;
                            font-size: 16px;
                        }
                        h3 {
                            font-size: 10px;
                            opacity: 0.8;
                            float: right;
                        }
                    }
                }
            }
        }
    }
}
