
img {
    width: 100%;
    display: block;
}

li {
    list-style: none;
}

ul {
    padding: 0px !important;
}

.title {
    cursor: pointer;
}

a {
    color: #000 !important;
    text-decoration: none !important;
}

.nextPrev {
    .slick-prev, .slick-next {
        color: gray;
        background-color :red;
    }
}

.main {
    .main_wrap {
        background-color: #f8f8f8;
        .header {
            a, span {
                color: #000 !important;
                font-size: 13px;
                text-decoration: none;
            }
        }
    }
}

.category {
    border: 1px solid #eee;
    border-radius: 3px;
    background-color: #fff;
    max-height: 800px;
    ul {
        li {
            span {
                font-weight: 700;
                border-bottom: 1px solid #eee;
                font-size: 18px;
                padding-bottom: 15px;
                display: inline-block;
            }
            span:nth-of-type(2) {
                float: right;
            }
            .categoryList {
                padding-right: 10px;
                margin-bottom: 6px;
                label {
                    font-size: 14px;
                    padding-left: 15px;
                }
                strong {
                    font-size: 14px;
                    color: #000;
                    font-weight: 400;
                    float: right;
                }
            }
        }
    }
}

.productInvolve {
    text-align: center;
    margin-bottom: 40px;
    span {
        font-size: 20px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            display: block;
            width:50%;
            bottom: -20%;
            left: 0;
            transform: translateX(50%);
            height: 2px;
            background-color :#000;
        }
    }
}

.productImage {
    .image {
        position: relative;
        .icon {
            position: absolute;
            top: 2%;
            right: 5%;
            .overlay {
                position: relative;
                &:hover span{
                    display: inline-block;
                }
                button {
                    border: none;
                    img {
                        width:20px;
                        height: 20px;
                    }
                }
                span {
                    position: absolute;
                    top: -5px;
                    left: 0;
                    transform: translateX(-100%);
                    white-space: nowrap;
                    font-size: 14px;
                    padding: 2px 6px;
                    display: none;
                }
            }
        }
    }
    .productText {
        p {
            font-size: 14px;
            color: #000000;
            margin: 6px 0 0;
        }
        p:last-child {
            color: #e70303;
            font-size: 16px;
            margin-bottom: 4px;
        }
    }
}

.titleCategory {
    h2 {
        font-size: 24px;
    }
    .sort {
        span {
            margin-right: 16px;
        }
        select {
            border: 1px solid #ccc;
            background-color:rgb(232, 232, 241);
            &:focus {
                outline: none;
            }
        }
    }
}



.ProductDetail {
    .content {
        max-height: 350px;
        overflow: hidden;
        .image {
            position: relative;
            .icon {
                position: absolute;
                top: 2%;
                right: 5%;
                .overlay {
                    position: relative;
                    &:hover span{
                        display: inline-block;
                    }
                    button {
                        border: none;
                        img {
                            width:20px;
                            height: 20px;
                        }
                    }
                    span {
                        position: absolute;
                        top: -5px;
                        left: 0;
                        transform: translateX(-100%);
                        white-space: nowrap;
                        font-size: 14px;
                        padding: 2px 6px;
                        display: none;
                    }
                }
            }
        }
        .buying {
            .text {
                h5 {
                    font-size:24px;
                }
                h4 {
                    font-size: 14px;
                    span {
                        font-weight: 400;
                    }
                }
                h2 {
                    color: #ff0000;
                    font-weight: 400;
                }
                h3 {
                    display: flex;
                    align-items: center;
                    span {
                        font-weight: 400;
                        font-size: 16px;
                        margin-right: 16px;
                    }
                    button,strong {
                        border: 1px solid #e1e1e1;
                        width: 40px;
                        height: 40px;
                        display: inline-block;
                        background-color: #fff;
                        &:focus {
                            box-shadow: none;
                        }
                    }
                    strong {
                        text-align: center;
                        line-height: 40px;
                        font-weight: 400;
                        font-size: 18px;
                    }
                }
            }
            .cart {
                button {
                    border: 1px solid #000;
                    font-size: 20px;
                    display: inline-block;
                    width: 250px;
                }
            }
        }
    }
    .feedback {
        margin: 72px 0;
        font-size: 14px;
        button {
            width: 150px;
            background-color: rgb(232, 232, 241);
            border: 1px solid #e1e1e1;
            padding: 6px 0;
        }
    }
    .text {
        h2 {
            font-size: 16px;
        }
        ul {
            margin-left: 16px;
            li {
                list-style: disc;
            }
        }
        .Comment {
            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                    font-weight: bold;
                }
                select {
                    background-color: rgb(232, 232, 241);
                    &:focus {
                        outline: none;
                    }
                }
            }
            .CommentInput {
                margin-top: 40px;
                display: flex;
                align-items: center;
                img {
                    width: 56px;
                    height: 48px;
                }
                textarea {
                    height: 48px;
                    width: 800px;
                    border: 1px solid #000;
                }
                button {
                    height: 48px;
                }
            }
        }
    }
}
